.topblock {
    background-color: black;
    color: antiquewhite;
    width: 100%;
    height: 170px;
    text-align: center;
    padding-top: 70px;
    font-family: loto, sans-serif;
}

.leftblock {
    background-color: darkgray;
    color: antiquewhite;
    width: 90px;
    height: 250px;
    float: left;
    margin: 5px 1px;
    padding-top: 25px;
    list-style-type: none;
}

a:hover {
    color: beige;
}

.rightblock {
    background-color: beige;
    margin-left: 135px;
    margin-top: 5px;
    padding: 5px 10px;
    font-family: loto;
    text-align: justify;
    overflow: hidden;
    height: 265px;
}

.bottomblock {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    font-family: monospace;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    margin-top: 5px;    
}